<md-dialog class="vz-details-dialog" aria-label="Movie details" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'MOVIE_DETAILS' | translate}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons md-24">close</i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
            
                <div layout="row" flex>
                    <div layout="column" layout-align="center center" flex>
                        <h2 class="md-title vz-details-title">{{movie.original_title}}</h2>
                        <h3 class="md-subhead">{{movie.tagline}}</h3>
                    </div>
                </div>
                
                <div layout="row" flex>
                    <div layout="column" ng-if="movie.poster_path" layout-padding>
                        <img ng-src="https://image.tmdb.org/t/p/w185{{movie.poster_path}}" />
                    </div>
                    <div layout="column" flex>
                        <h2 class="md-title vz-details-title">{{'OVERVIEW' | translate}}</h2>
                        <p>{{movie.overview}}</p>
                        
                        <span ng-if="movie.genres">
                            <h2 class="md-title vz-details-title">{{'GENRES' | translate}}</h2>
                            <md-chips ng-model="movie.genres" readonly="true">
                                <md-chip-template>
                                    {{$chip.name}}
                                </md-chip-template>
                            </md-chips>
                        </span>
                        
                        <h2 class="md-title vz-details-title">{{'ADDITIONAL_INFORMATION' | translate}}</h2>
                        <table class="vz-details-table">
                            <tr ng-if="movie.belongs_to_collection && movie.belongs_to_collection.name">
                                <td>{{'BELONGS_TO_COLLECTION' | translate}}</td>
                                <td>{{movie.belongs_to_collection.name}}</td>
                            </tr>
                            <tr ng-if="movie.budget">
                                <td>{{'BUDGET' | translate}}</td>
                                <td>{{movie.budget}} $</td>
                            </tr>
                            <tr ng-if="movie.revenue">
                                <td>{{'REVENUE' | translate}}</td>
                                <td>{{movie.revenue}} $</td>
                            </tr>
                            <tr ng-if="movie.release_date">
                                <td>{{'RELEASE_DATE' | translate}}</td>
                                <td>{{movie.release_date}}</td>
                            </tr>
                            <tr ng-if="movie.runtime">
                                <td>{{'RUNTIME' | translate}}</td>
                                <td>{{movie.runtime}} minutes</td>
                            </tr>
                            <tr ng-if="movie.original_language">
                                <td>{{'ORIGINAL_LANGUAGE' | translate}}</td>
                                <td>{{movie.original_language}}</td>
                            </tr>
                            <tr ng-if="movie.homepage">
                                <td>{{'HOMEPAGE' | translate}}</td>
                                <td><a href="{{movie.homepage}}" target="_blank">{{movie.homepage}}</a></td>
                            </tr>
                            <tr ng-if="movie.popularity">
                                <td>{{'POPULARITY' | translate}}</td>
                                <td>{{movie.popularity}}</td>
                            </tr>
                            <tr ng-if="movie.vote_average">
                                <td>{{'VOTE_AVERAGE' | translate}}</td>
                                <td>{{movie.vote_average}}</td>
                            </tr>
                            <tr ng-if="movie.vote_count">
                                <td>{{'VOTE_COUNT' | translate}}</td>
                                <td>{{movie.vote_count}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="hide()" style="margin-right:20px;">
                {{'OK' | translate}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
